body {
    background: #F5F5F5 !important;
    font-family: 'Roboto', sans-serif !important;
}

/*HEADER*/
header {
    background: white;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    z-index: 1;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.1);
}

header > a {
    margin-left: auto;
    margin-right: auto;
}

section {
    display: flex;
    flex-flow: column;
    margin-top: 4rem;
}

/*==================================================*/
/*==================================================*/
/*======================STICKER PAGINA PRINCIPAL======================*/
/*==================================================*/
/*==================================================*/

section > div.paginaPrincipal {
    display: flex;
    flex-flow: column;
}

section > div.paginaPrincipal > a {
    height: 15rem;
    margin-top: 1.5rem;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

section > div.paginaPrincipal > a:last-child {
    margin-bottom: 6rem;
}

section > div.paginaPrincipal > a > div.sticker {

    height: 15rem;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.39));
    border-radius: 6px;
    cursor: pointer;
}

/*Titulo*/
section > div.paginaPrincipal > a > div.sticker > div:nth-child(1) {
    background: rgba(25, 85, 152, 0.6);
    height: 2.5rem;
    margin-top: 1rem;
    position: absolute;
    width: 12rem;
}

section > div.paginaPrincipal > a > div.sticker > div > p {
    margin-top: 0.5rem;
    margin-left: 1rem;
    color: white;
}

section > div.paginaPrincipal > a > div.sticker > div:nth-child(2) {
    position: absolute;
    width: 100%;
    height: 2.7rem;
    left: 0px;
    top: 12.3rem;
    justify-content: space-between;
    display: flex;
    flex-flow: row;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 0px 0px 6px 6px;
    align-items: center;
    cursor: default;
}

section > div.paginaPrincipal > a > div.sticker > div:nth-child(2) > h5 {
    margin-left: 1rem;
    margin-top: 7px;
    font-size: 1rem;
    color: black;
}

section > div.paginaPrincipal > a > div.sticker > div:nth-child(2) > div {
    width: 3.5rem;
    display: flex;
    justify-content: space-between;
    margin-right: 1rem;
}

section > div.paginaPrincipal > a > div.sticker > div:nth-child(2) > div > i {
    color: #1C60AD;
    font-size: 1.4rem;
    cursor: pointer;
}

/*===========================================================*/
/*===========================================================*/
/*======================STICKER ABIERTO======================*/
/*===========================================================*/
/*===========================================================*/

section > div > div.sticker {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1.5rem;
    height: 15rem;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.39));
    border-radius: 6px;
}

section > div > div.sticker > div {
    position: absolute;
    width: 100%;
    height: 2.7rem;
    left: 0px;
    top: 12.3rem;
    justify-content: space-between;
    display: flex;
    flex-flow: row;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 0px 0px 6px 6px;
    align-items: center;
}

section > div > div.sticker > div > h5 {
    margin-left: 1rem;
    margin-top: 7px;
    font-size: 1rem;
    color: black;
    font-weight: bold;
}

div.sticker > div > div {
    width: 5rem;
    display: flex;
    justify-content: space-between;
    margin-right: 0.5rem;
}

div.sticker > div > div > i {
    color: #1C60AD;
    font-size: 1.4rem;
    cursor: pointer;
}

div.sticker > div > div > a > i {
    color: #1C60AD;
    font-size: 1.4rem;
    cursor: pointer;
}

div.sticker > div > div > label > i {
    color: #1C60AD;
    font-size: 1.4rem;
    cursor: pointer;
}

div.stickerBody {
    display: flex;
    flex-flow: column;
}

div.stickerText > h3 {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1.5rem;
    font-weight: bold;

}

div.stickerText > p {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    color: #646464;
    font-weight: 500;
    line-height: 19px;
    font-size: 15px;
}

.imagenesSticker {
    display: flex;
    flex-flow: row wrap;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-between;
    margin-top: -1rem;
}

.imagenesSticker > img {
    width: 48%;
    border-radius: 8px;
    margin-top: 1rem;
    height: 8rem;
}

div.stickerBody > div.userProfile {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: end;
    margin-right: auto;
    margin-left: auto;
}

div.stickerBody > div.userProfile > p {
    margin-top: 1rem;
    margin-right: .7rem;
    font-style: italic;
    font-weight: 400;
    font-size: .9rem;
}

div.stickerBody > div.userProfile > a > img {
    width: 2rem;
    height: 2rem;
    border-radius: 30rem;
}

section > div.stickerBody > div.opinions {
    margin-bottom: 6rem;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1rem;
    display: flex;
    flex-flow: column;
}

section > div.stickerBody > div.opinions > div:nth-child(1) > i {
    margin-right: .7rem;
    font-size: 1.2rem;
}

section > div.stickerBody > div.opinions > div:nth-child(1) > span {
    font-size: 1.2rem;
}

section > div.stickerBody > div.opinions > div:nth-child(1) > span > a {

    color: black;
}

section > div.stickerBody > div.opinions > div:nth-child(1) > span > span {
    text-decoration: underline;
}

section > div.stickerBody > div.opinions > div:nth-child(2) {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

section > div.stickerBody > div.opinions > div:nth-child(2) > div {
    width: auto;
}

section > div.stickerBody > div.opinions > div:nth-child(2) > span {
    font-style: italic;
    font-size: 1.2rem;
}

.stars > i {
    font-size: 1.3rem;
}

section > div.stickerBody > div.opinions > textarea {
    border: 2px solid #000000;
    box-sizing: border-box;
}

section > div.stickerBody > div.opinions > form {
    margin-right: auto;
    margin-left: auto;
}

section > div.stickerBody > div.opinions > form > button {
    background: #1C60AD;
    border-radius: 7px;
    border: none;
    width: 9rem;
    height: 3rem;
    color: white;
    margin-top: 1.3rem;
}

/*==================================================*/
/*==================================================*/
/*==================OPINIONES=======================*/
/*==================================================*/
/*==================================================*/
div.contenedor {
    width: 88%;
    margin: auto;
    margin-top: 1.5rem;
    margin-bottom: 4rem;
    display: flex;
    flex-flow: column;
}

div.contenedor > div.goBack {
    flex-flow: row;
}

div.contenedor > div.goBack > a {
    text-decoration: none;
    margin-right: 1rem;
}

div.contenedor > div.goBack > a > i {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: black;
}

div.contenedor > hr {
    border: 1px solid black;
}

div.contenedor > div.goBack > span {
    font-size: 1.3rem;
    font-weight: bold;
}

div.contenedor > div.opiniones {
    display: flex;
    margin-left: 1rem;
    justify-content: start;
    width: 17rem;
    align-items: center;
}

div.contenedor > div.opiniones > i {
    width: 2rem;
    color: #626262;
    filter: invert(35%);
}

div.contenedor > div.opiniones > p {
    font-weight: 600;
    color: #3a3a3a;
    margin-top: 1rem;
    font-size: 1rem;
}

div.contenedor > div.nivelOpinion > div {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: auto;
}

div.user > div.userInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.user > div.userInfo > span {
    font-weight: bold;
    font-size: 1.2rem;
}

div.user > div.userInfo > div > a > img {
    width: 3rem;
    height: 3rem;
    border-radius: 10rem;
    margin-right: .5rem;
}

div.user > div.userInfo > div > a {
    text-decoration: none;
    color: black;
}

div.user > div.textOpinion {
    margin-top: 1rem;
    width: 98%;
    display: flex;
    flex-flow: column;
}

div.user > div.textOpinion > p:nth-child(2) {
    color: #626262;
}

div.user > div.textOpinion > p:nth-child(3) {
    color: #626262;
    font-weight: bold;
}

/*===========================================================*/
/*===========================================================*/
/*=======================EDITAR STICKER======================*/
/*===========================================================*/
/*===========================================================*/
section > form > div:nth-child(1) {
    background: white;
    height: 3rem;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
}

section > form > div:nth-child(1) > a {
    color: black;
    margin-left: 5%;
}

section > form > div:nth-child(1) > a > i {
    font-size: 2rem;
}

section > form > div:nth-child(1) > span {
    font-weight: bold;
    font-size: 1.3rem;
}

section > form > div:nth-child(1) > button {
    border: none;
    background: none;
    margin-right: 5%;
}

section > form > div:nth-child(1) > button > i {
    font-size: 1.2rem;
}

div.stickerEdit {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1.5rem;
    height: 15rem;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.39));
    border-radius: 6px;
}

div.stickerEdit > div {
    position: absolute;
    width: 100%;
    height: 2.7rem;
    left: 0px;
    top: 12.3rem;
    justify-content: space-between;
    display: flex;
    flex-flow: row;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 0px 0px 6px 6px;
    align-items: center;
}

div.stickerEdit > div > h5 {
    margin-left: 1rem;
    margin-top: 7px;
    font-size: 1rem;
    color: black;
    font-weight: bold;
}

div.stickerEdit > div > div {
    width: 5rem;
    display: flex;
    justify-content: space-between;
    margin-right: 0.5rem;
}

div.stickerEdit > div > div > label > i {
    color: #1C60AD;
    font-size: 1.4rem;
    cursor: pointer;
}

form > div.stickerBody > input {
    width: 80%;
    margin-right: auto;
    margin-left: 9.6%;
    font-weight: bold;
    border: none;
    background: none;
    margin-bottom: .6rem;
    font-size: 1.53rem;
    font-family: Roboto;
}

form > div.stickerBody > textarea {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    color: #646464;
    font-weight: 500;
    line-height: 19px;
    font-size: 15px;
    border: none;
    background: none;
    height: 10rem;
    margin-bottom: 1.5rem;
}

form > div.stickerBody > label {
    margin-top: 1.5rem;
    background: #38c172;
    width: 10.05rem;
    margin-right: auto;
    margin-left: auto;
}

form > div.stickerBody > button {
    margin-top: 1.5rem;
    background: #1a90b0;
    color: white;
    width: 10.05rem;
    margin-right: auto;
    margin-left: auto;
}

form > div.stickerBody > button:hover {
    background: #1c7a96;
    color: white;
}

/*==================================================*/
/*==================================================*/
/*=====================PERFILES=====================*/
/*==================================================*/
/*==================================================*/

section > div.profile {
    margin-bottom: 6rem;
}

section > div > div.firstPart {
    display: flex;
    flex-flow: column;
}

section > div > div.firstPart > div:nth-child(1) {
    border-bottom: 1px solid #D1D1D1;
    height: 2.1rem;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

section > div > div.firstPart > div:nth-child(1) > span {
    font-size: 1.1rem;
    font-weight: bold;
}

section > div > div.firstPart > div:nth-child(1) > a {
    margin-left: 1.5rem;
}

section > div > div.firstPart > div:nth-child(1) > a > i {
    font-size: 1.3rem;
    color: black;
}

section > div > div.firstPart > div:nth-child(1) > i {
    font-size: 1.3rem;
    margin-right: 1.5rem;
    cursor: pointer;
}

section > div > div.firstPart > div:nth-child(2) {
    display: flex;
    flex-flow: column;
    text-align: center;
}

section > div > div.firstPart > div:nth-child(2) > div > img {
    width: 5rem;
    height: 5rem;
    border-radius: 5rem;
    margin-bottom: .4rem;
}

section > div > div.firstPart > div:nth-child(2) > div > p {
    font-weight: 600;
    font-size: .8rem;
}

section > div > div.firstPart > div:nth-child(2) > div:nth-child(2) {
    display: flex;
    flex-flow: row;
    justify-content: center;
}

section > div > div.firstPart > div:nth-child(2) > div:nth-child(2) > div {
    margin-left: 1rem;
    margin-right: 1rem;
}

section > div > div.firstPart > div > div > div > p {
    font-weight: 600;
    font-size: .9rem;
}

section > div > div.firstPart > div > div > div > p:nth-child(2) {
    margin-top: -1rem;
    color: #767676;
    font-weight: normal;
}

section > div > div.firstPart > div > div:nth-child(3) > a:nth-child(1) > button {
    height: 2.5rem;
    border-radius: .2rem;
    border: none;
    background: #1C60AD;
    color: white;
    width: 8.4rem;
}

.followButton {
    color: white;
    background: #1C60AD !important;
    width: 8.4rem;
}

.followButton:hover {
    background: #144f93 !important;
}

.editarPerfilButton:hover {
    background: #144f93 !important;
}

.unfollowButton {
    background: none !important;
    color: black !important;
    width: 8.4rem !important;
    border: 1px solid #a1a1a1 !important;
}

.unfollowButton:hover {
    background: #e5e5e5 !important;
}

.elementosGuardadosButton:hover {
    background: #e5e5e5 !important;
}

.instagramButton:hover {
    background: #e5e5e5 !important;
}

section > div > div.firstPart > div > div:nth-child(3) > a:nth-child(2) > button {
    margin-left: .8rem;
    border: 1px solid #a1a1a1;
    background: #F5F5F5;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: .2rem;
}

section > div > div.firstPart > div > div:nth-child(3) > a > button > i {
    font-size: 1.2rem;
}

section > div > div.secondPart {
    display: flex;
    flex-flow: column;
}

section > div > div.secondPart > i {
    text-align: center;
    font-size: 1.5rem;
    margin-top: -.3rem;
    margin-bottom: -.3rem;
}

section > div > div.secondPart > div {
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-between;
}

section > div > div.secondPart > div > a {
    width: 48%;
    margin-bottom: 2rem;
}

section > div > div.secondPart > div > a > div.sticker {
    flex-wrap: wrap;
    width: 100%;
    height: 8rem;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.39));
    border-radius: 6px;
    cursor: pointer;
}

section > div > div.secondPart > div > a > div.sticker > div {
    position: absolute;
    width: 100%;
    height: 2.2rem;
    top: 5.8rem;
    display: flex;
    flex-flow: row;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 0px 0px 6px 6px;
    align-items: center;
}

section > div > div.secondPart > div > a > div.sticker > div > h5 {
    margin-left: 1rem;
    margin-top: 9px;
    font-size: 1rem;
    color: black;
}

/*===============================================================*/
/*===============================================================*/
/*======================ELEMENTOS GUARDADOS======================*/
/*===============================================================*/
/*===============================================================*/

section > div.pagElementosGuardados {
    display: flex;
    flex-flow: column;
}

section > div.pagElementosGuardados > div.elementosGuardados {
    height: 3rem;
    margin-top: -.2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #F7F7F7;
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.1);
}

section > div.pagElementosGuardados > div.elementosGuardados > a > i {
    color: #1C60AD;
    font-size: 1.2rem;
    cursor: pointer;
}

section > div.pagElementosGuardados > div.elementosGuardados > span {
    color: #1C60AD;
    font-size: 1.3rem;
    margin-right: 10rem;
}

section > div.pagElementosGuardados > a {
    height: 15rem;
    margin-top: 1.5rem;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

section > div.pagElementosGuardados > a:last-child {
    margin-bottom: 6rem;
}

section > div.pagElementosGuardados > a > div.sticker {

    height: 15rem;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.39));
    border-radius: 6px;
    cursor: pointer;
}

/*Titulo*/
section > div.pagElementosGuardados > a > div.sticker > div:nth-child(1) {
    background: rgba(25, 85, 152, 0.6);
    height: 2.5rem;
    margin-top: 1rem;
    position: absolute;
    width: 12rem;
}

section > div.pagElementosGuardados > a > div.sticker > div > p {
    margin-top: 0.5rem;
    margin-left: 1rem;
    color: white;
}

section > div.pagElementosGuardados > a > div.sticker > div:nth-child(2) {
    position: absolute;
    width: 100%;
    height: 2.7rem;
    left: 0px;
    top: 12.3rem;
    justify-content: space-between;
    display: flex;
    flex-flow: row;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 0px 0px 6px 6px;
    align-items: center;
    cursor: default;
}

section > div.pagElementosGuardados > a > div.sticker > div:nth-child(2) > h5 {
    margin-left: 1rem;
    margin-top: 7px;
    font-size: 1rem;
    color: black;
}

section > div.pagElementosGuardados > a > div.sticker > div:nth-child(2) > div {
    width: 3.5rem;
    display: flex;
    justify-content: space-between;
    margin-right: 1rem;
}

section > div.pagElementosGuardados > a > div.sticker > div:nth-child(2) > div > i {
    color: #1C60AD;
    font-size: 1.4rem;
    cursor: pointer;
}

/*=========================================================*/
/*=========================================================*/
/*======================EDITAR PERFIL======================*/
/*=========================================================*/
/*=========================================================*/

section > div.editarPerfil {
    display: flex;
    flex-flow: column;
}

section > div.editarPerfil > form > div:nth-child(1) {
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section > div.editarPerfil > form > div:nth-child(1) > a {
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
    margin-left: 5%;
}

section > div.editarPerfil > form > div:nth-child(1) > span {
    font-weight: bold;
    font-size: 1.1rem;
    text-align: center;
}

section > div.editarPerfil > form > div:nth-child(1) > button {
    margin-right: 5%;
    border: none;
    background: none;
    font-size: 1.1rem;
}

section > div.editarPerfil > form > div:nth-child(2) {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 1rem;
    width: 7rem;
}

section > div.editarPerfil > form > div:nth-child(2) > i {
    font-size: 2rem;
    color: white;
    position: absolute;
    margin-top: 1.2rem;
    margin-left: 1.4rem;
}

section > div.editarPerfil > form > div:nth-child(2) > img {
    width: 5rem;
    height: 5rem;
    border-radius: 5rem;
    margin-top: -0.4rem;
    margin-bottom: .7rem;
}

section > div.editarPerfil > form > div:nth-child(2) > label {
    cursor: pointer;
}

section > div.editarPerfil > form > div:nth-child(3) {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

section > div.editarPerfil > form > div:nth-child(3) > div {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin-top: 1rem;
}

section > div.editarPerfil > form > div:nth-child(3) > div > div > input {
    background: none;
    border: none;
}

section > div.editarPerfil > form > div:nth-child(3) > div > div > input:focus {
    outline: none;
}

/*==========================================================*/
/*==========================================================*/
/*======================Añadir Sticker======================*/
/*==========================================================*/
/*==========================================================*/

div.anadirSticker {
    margin-bottom: 3rem;
}

div.anadirSticker > form > div:nth-child(1) {
    background: white;
    height: 3rem;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
}

div.anadirSticker > form > div:nth-child(1) > a {
    color: black;
    margin-left: 5%;
}

div.anadirSticker > form > div:nth-child(1) > a > i {
    font-size: 2rem;
}

div.anadirSticker > form > div:nth-child(1) > span {
    font-weight: bold;
    font-size: 1.3rem;
}

div.anadirSticker > form > div:nth-child(1) > button {
    border: none;
    background: none;
    margin-right: 5%;
}

div.anadirSticker > form > div:nth-child(1) > button > i {
    font-size: 1.2rem;
}


div.anadirSticker > form > div:nth-child(2) > div > div {
    display: flex;
    flex-flow: row;
    width: 90%;
    margin: 2rem auto;
}

div.anadirSticker > form > div:nth-child(2) > div > div > div:nth-child(1) {
    width: 2rem;
}

div.anadirSticker > form > div:nth-child(2) > div > div > div:nth-child(1) > i {
    color: #838383;
    font-size: 1.3rem;
    margin-left: 2rem;
}

div.anadirSticker > form > div:nth-child(2) > div > div > div:nth-child(2) {
    display: flex;
    flex-flow: column;
    margin-left: 10%;
    width: 70%;
}

div.anadirSticker > form > div:nth-child(2) > div > div > div:nth-child(2) > span {
    color: #838383;
    font-size: .8rem;
    font-weight: 600;
    margin-top: -1rem;
    margin-bottom: .2rem;
}

div.anadirSticker > form > div:nth-child(2) > div > div > div:nth-child(2) > input {
    background: none;
    border: none;
    border-bottom: 2px solid #838383;
}

div.anadirSticker > form > div:nth-child(2) > div > div > div:nth-child(2) > input:focus {
    outline: none;
    border-bottom: 2px solid blue;
}

div.anadirSticker > form > div:nth-child(2) > div > div > div:nth-child(2) > textarea {
    width: 100%;
    height: 6rem;
}

.custom-input-file {
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    margin: 0 auto 0;
    min-height: 15px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
    border: 1px solid black;
    padding: 2rem;
}

.custom-input-file > i {
    color: #838383;
    font-size: 3rem;
    margin-bottom: .7rem;
}

.custom-input-file .input-file {
    border: 10000px solid transparent;
    cursor: pointer;
    font-size: 10000px;
    margin: 0;
    opacity: 0;
    outline: 0 none;
    padding: 0;
    position: absolute;
    right: -1000px;
    top: -1000px;
}

/*==================================================*/
/*==================================================*/
/*======================CONFIG======================*/
/*==================================================*/
/*==================================================*/

section > div.configuracion > hr {
    width: 86%;
    margin-right: auto;
    margin-left: auto;
    height: 1.5px;
    color: #858585;
}

section > div.configuracion > div:nth-child(1) {
    border-bottom: 2px solid #D1D1D1;
    height: 3rem;
    display: flex;
    align-items: center;
}

section > div.configuracion > div:nth-child(1) > p {
    font-weight: bold;
    font-size: 1.3rem;
    margin: auto;
}

section > div.configuracion > div.bloqueConfiguracion {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
}

section > div.configuracion > div.bloqueConfiguracion > p {
    color: #858585;
}

section > div.configuracion > div.bloqueConfiguracion > div {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}

section > div.configuracion > div.bloqueConfiguracion > div > i {
    font-size: 1rem;
    width: 1.3rem;
}

section > div.configuracion > div.bloqueConfiguracion > div > a {
    text-decoration: none;
    color: black;
    font-weight: normal;
}

/*==============================================================*/
/*==============================================================*/
/*======================Administrar cuenta======================*/
/*==============================================================*/
/*==============================================================*/

section > div.administrarCuenta {
    display: flex;
    flex-flow: column;
}

section > div.administrarCuenta > div:nth-child(1) {
    height: 2.5rem;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

section > div.administrarCuenta > div:nth-child(1) > a {
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
    margin-left: 5%;
}

section > div.administrarCuenta > div:nth-child(1) > span {
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    margin-left: 25%;
}

section > div.administrarCuenta > div:nth-child(2) {
    display: flex;
    flex-flow: column;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

section > div.administrarCuenta > div:nth-child(2) > div:nth-child(1) {
    display: flex;
    flex-flow: column;
}

section > div.administrarCuenta > div:nth-child(2) > div:nth-child(1) > div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

section > div.administrarCuenta > div:nth-child(2) > div:nth-child(1) > div > input {
    background: none;
    border: none;
    text-indent: 6rem;
}

section > div.administrarCuenta > div:nth-child(2) > div:nth-child(1) > input:focus {
    outline: none;
}

section > div.administrarCuenta > div:nth-child(2) > div:nth-child(1) > input {
    background: none;
    border: none;
    margin-bottom: 1.5rem;
}

section > div.administrarCuenta > div:nth-child(2) > div:nth-child(1) > div > input:focus {
    outline: none;
}

section > div.administrarCuenta > div:nth-child(2) > div:nth-child(1) > hr {
    height: 1.5px;
    color: black;
}

section > div.administrarCuenta > div:nth-child(2) > div > p {
    color: #858585;
    margin-bottom: 1.5rem;
}

section > div.administrarCuenta > div:nth-child(2) > div > a {
    color: black;
    text-decoration: none;
}

/*==================================================*/
/*==================================================*/
/*======================Search======================*/
/*==================================================*/
/*==================================================*/
section > div.busqueda {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

section > div.busqueda > div:nth-child(1) > div:nth-child(1) {
    font-weight: bold;
    text-align: center;
    font-size: 1.3rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

section > div.busqueda > div:nth-child(1) > div:nth-child(2) > form > div:nth-child(1) {
    display: flex;
    justify-content: center;
}

section > div.busqueda > div:nth-child(1) > div:nth-child(2) > form > div:nth-child(1) > div > input {
    height: 2rem;
    width: 15rem;
    border: 2px solid black;
    margin-right: 1.5rem;
}

section > div.busqueda > div:nth-child(1) > div:nth-child(2) > form > div:nth-child(1) > div > button {

    background: white;
    border: 2px solid black;
    height: 2rem;
    width: 3rem;
    position: absolute;
    left: 52%;
}

div.usersSearched{
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

div.usersSearched > div.usersSearch{
    border:3px solid black;
}

div.usersSearched > div.usersSearch > img{
    width: 5rem;
}

div.usersSearched  > a {
    width: 48%;
    margin-bottom: 2rem;
}

div.usersSearched  > a > div.sticker {
    flex-wrap: wrap;
    width: 100%;
    height: 8rem;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.39));
    border-radius: 6px;
    cursor: pointer;
}

div.usersSearched  > a > div.sticker > div {
    position: absolute;
    width: 100%;
    height: 2.2rem;
    top: 5.8rem;
    display: flex;
    flex-flow: row;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 0px 0px 6px 6px;
    align-items: center;
}

div.usersSearched  > a > div.sticker > div > h5 {
    margin-left: 1rem;
    margin-top: 9px;
    font-size: 1rem;
    color: black;
}

/*==================================================*/
/*==================================================*/
/*======================FOOTER======================*/
/*==================================================*/
/*==================================================*/

footer > .menu {
    background: white;
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    z-index: 99;
}

footer > .menu > ul {
    text-decoration: none;
    list-style: none;
    width: 100%;
    text-align: center;
    padding: 0;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer > .menu > ul > li {
    display: inline;
    padding-left: 6.5%;
    padding-right: 6.5%;
    margin-top: .3rem;
}

footer > .menu > ul > li > a > i {
    color: #1C60AD;
    font-size: 1.6rem;
    cursor: pointer;

}

/*COSAS*/
.compartirPerfil {
    display: flex;
    flex-flow: row;
}

.compartirPerfil > div {
    margin-left: .3rem;
}

.compartirPerfil > div > a {
    color: black;
    text-decoration: none;
    font-weight: normal;
}

/*=======================================*/
/*==============Variado==================*/
/*=======================================*/


#myPopup {
    background: #1C60AD;
    border: none;
    height: 2.5rem;
    display: flex;
    align-items: center;
}

#myPopup > p {
    color: white;
}

#categoriaSelect {
    margin-bottom: 1.2rem;
}

.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

/*===============================================*/

/*===============================================*/

/*========MEDIA QUERY PARA VERSION TABLET========*/

/*===============================================*/

/*===============================================*/

@media (min-width: 750px) {

    /*==================================================*/
    /*==================================================*/
    /*======================STICKER PAGINA PRINCIPAL====*/
    /*==================================================*/
    /*==================================================*/
    section > div.paginaPrincipal {
        display: flex;
        flex-flow: row wrap;
        width: 95%;
        margin-right: auto;
        margin-left: auto;
        justify-content: space-between;
    }

    section > div.paginaPrincipal > a {
        width: 46%;
    }

    section > div.paginaPrincipal > a > div.sticker {
        flex-wrap: wrap;
        width: 100%;
        height: 15rem;
        filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.39));
        border-radius: 6px;
        cursor: pointer;
    }

    section > div.paginaPrincipal > a:last-child {
        margin-left: 2%;
    }

    /*Titulo*/
    section > div.paginaPrincipal > a > div.sticker > div:nth-child(1) {
        background: rgba(25, 85, 152, 0.6);
        height: 2.5rem;
        margin-top: 1rem;
        position: absolute;
        width: 12rem;
    }

    section > div.paginaPrincipal > a > div.sticker > div > p {
        margin-top: 0.5rem;
        margin-left: 1rem;
        color: white;
    }

    section > div.paginaPrincipal > a > div.sticker > div:nth-child(2) {
        position: absolute;
        width: 100%;
        height: 2.7rem;
        left: 0px;
        top: 12.3rem;
        justify-content: space-between;
        display: flex;
        flex-flow: row;
        background: rgba(255, 255, 255, 0.6);
        border-radius: 0px 0px 6px 6px;
        align-items: center;
        cursor: default;
    }

    section > div.paginaPrincipal > a > div.sticker > div:nth-child(2) > h5 {
        margin-left: 1rem;
        margin-top: 7px;
        font-size: 1rem;
        color: black;
    }

    section > div.paginaPrincipal > a > div.sticker > div:nth-child(2) > div {
        width: 3.5rem;
        display: flex;
        justify-content: space-between;
        margin-right: 1rem;
    }

    section > div.paginaPrincipal > a > div.sticker > div:nth-child(2) > div > i {
        color: #1C60AD;
        font-size: 1.4rem;
        cursor: pointer;
    }

    /*==========================================================*/
    /*==========================================================*/
    /*======================Añadir Sticker======================*/
    /*==========================================================*/
    /*==========================================================*/
    div.anadirSticker > form > div:nth-child(2) {
        display: flex;
        flex-flow: row;
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        justify-content: space-between;
    }

    div.anadirSticker > form > div:nth-child(2) > div {
        width: 50%;
    }

    div.anadirSticker > form > div:nth-child(2) > div > div > div:nth-child(1) > i {
        font-size: 1.5rem;
        margin-left: 1rem;
    }

    div.anadirSticker > form > div:nth-child(2) > div > div > div:nth-child(2) > span {
        font-size: 1rem;
    }

    div.anadirSticker > form > div:nth-child(2) > div > div > div:nth-child(2) > input {
        background: none;
        border: none;
        border-bottom: 2px solid #838383;
        height: 2rem;
        font-size: 1.2rem;
    }

    div.anadirSticker > form > div:nth-child(2) > div > div > div:nth-child(2) > input:focus {
        outline: none;
        border-bottom: 2px solid blue;
    }

    div.anadirSticker > form > div:nth-child(2) > div > div > div:nth-child(2) > textarea {
        width: 100%;
        height: 6rem;
    }

    /*===========================================================*/
    /*===========================================================*/
    /*======================STICKER ABIERTO======================*/
    /*===========================================================*/
    /*===========================================================*/
    section > div.sticker {
        width: 75%;
    }

    div.stickerText{
        width: 78%;
    }

    div.stickerText > h3 {
        width: 75%;
    }

    div.stickerText > p {
        margin-left: 12.6%;
    }

    .imagenesSticker {
        width: 80%;
    }

    .imagenesSticker > img {
        height: 11rem;
    }

    section > div.stickerBody > div.opinions {
        width: 70%;
    }

    section > div.stickerBody > div.opinions > textarea {
        height: 10rem;
    }

    /*==================================================*/
    /*==================================================*/
    /*=====================PERFILES=====================*/
    /*==================================================*/
    /*==================================================*/
    section > div > div.firstPart > div:nth-child(1) {
        height: 2.7rem;
    }

    section > div > div.firstPart > div:nth-child(1) > a {
        margin-left: 1.5rem;
    }

    section > div > div.firstPart > div:nth-child(1) > a > i {
        font-size: 1.6rem;
    }

    section > div > div.firstPart > div:nth-child(1) > i {
        font-size: 1.5rem;
    }

    section > div > div.secondPart {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    section > div > div.secondPart > div > a {
        width: 30%;
        height: 10rem;
    }

    section > div > div.secondPart > div > a > div.sticker {
        height: 10rem;
    }

    section > div > div.secondPart > div > a > div.sticker > div {
        top: 7.8rem;
    }
}

/*===============================================*/
/*===============================================*/
/*========MEDIA QUERY PARA VERSION PC========*/
/*===============================================*/
/*===============================================*/
@media (min-width: 1024px) {

    /*==================================================*/
    /*==================================================*/
    /*======================STICKER PAGINA PRINCIPAL====*/
    /*==================================================*/
    /*==================================================*/
    section > div.paginaPrincipal > a {
        width: 23%;
    }

    section > div.paginaPrincipal > a:last-child {
        margin-left: 1%;
    }

    section > div.paginaPrincipal > a > div.sticker > div:nth-child(2) > div > i {
        color: #1C60AD;
        font-size: 1.4rem;
        cursor: pointer;
    }

    /*===========================================================*/
    /*===========================================================*/
    /*======================STICKER ABIERTO======================*/
    /*===========================================================*/
    /*===========================================================*/

    section > div.firstPartSticker{
        display: flex;
        flex-flow: row;
        margin-bottom: 2rem;
    }

    section > div > div.sticker {
        width: 37%;
        margin-left: 13%;
        height: 22rem;
    }

    section > div > div.sticker > div {
        top: 19.3rem;
    }

    section > div > div.stickerText{
        width: 60%;
    }

    section > div > div.stickerText > p{
        width: 63%;
        margin-left: 12.8%;
        font-size: 1.1rem;
        line-height : 25px;
    }

    div.stickerBody{
        width: 92.5%;
        margin-right: auto;
        margin-left: auto;
    }

    .imagenesSticker > img {
        width: 45%;
        height: 17rem;
    }

    div.stickerBody > div.userProfile > p {
        font-size: 1.1rem;
    }

    div.stickerBody > div.userProfile > a > img {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 30rem;
    }

    section > div.stickerBody > div.opinions > div:nth-child(1) > i {
        margin-right: .7rem;
        font-size: 1.3rem;
    }

    section > div.stickerBody > div.opinions > div:nth-child(1) > span {
        font-size: 1.3rem;
    }

    section > div.stickerBody > div.opinions > div:nth-child(1) > span > span {
        text-decoration: underline;
    }

    section > div.stickerBody > div.opinions > div:nth-child(2) > span {
        font-style: italic;
        font-size: 1.3rem;
    }

    .stars > i {
        font-size: 1.4rem;
    }

    /*==================================================*/
    /*==================================================*/
    /*==================OPINIONES=======================*/
    /*==================================================*/
    /*==================================================*/

    section > div.contenedor{
        width: 80%;
    }

    section > div.contenedor > div.goBack{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    section > div.contenedor > div.goBack > span{
        font-size: 1.4rem;
    }

    section > div.contenedor > div.opiniones{
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }

    section > div.contenedor > div.opiniones >p {
        font-size: 1.1rem;
    }

    section > div.contenedor > hr{
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }

    div.opinions2{
        display: flex;
        flex-flow: row wrap;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        justify-content: space-between;
    }

    div.opinions2 > div.user{
        width: 40%;
        margin-right: 2rem;
        margin-left: 2rem;
    }
}
